# Ignorar templates de Django - El formateo automático rompe la sintaxis
**/templates/**/*.html
**/templates/**

# Otros archivos generados
**/node_modules
**/out
**/dist
**/build
**/.next
**/__pycache__
**/migrations/**

